<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/estilos.css">
		<link rel="shortcut icon" href="imagenes/logotanias.jpg" type="image/x-icon">
		<title>Principal</title>
	</head>
	<body>
		<header>
			<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navegacion-nbs">
							<span class="sr-only">Desplegar / Ocultar menú</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a href="#" class="navbar-brand">Arte y Decoración de Uñas Tania's</a>
					</div>
					<!--Inicia Menú-->
					<div class="collapse navbar-collapse" id="navegacion-nbs">
						<ul class="nav navbar-nav">
							<li class="active"><a href="/">Inicio</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Servicios<span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#">Uñas</a></li>
									<li><a href="#">Maquillaje</a></li>
									<li><a href="#">Peinados</a></li>
									<li><a href="#">Depilación</a></li>
								</ul>
							</li>
							<li><a href="#">Blog</a></li>
							<li><a href="login_publico">Ingresar</a></li>
						</ul>
						<form class="navbar-form navbar-right" role="search">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Buscar...">
							</div>
							<button type="submit" class="btn btn-primary">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</form>
					</div>
				</div>
			</nav>
		</header>

		<!--Aqui el jumbotron-->
		<section class="jumbotron jumbotron-nbs">
			<div class="container">
				<h1>Arte y Decoración de Uñas Tania's</h1>
				<p>Salón de Belleza</p>
			</div>
			<div class="wave" style="height:150px; overflow:hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height:100%; width: 100%;"><path d="M-12.12,-6.08 C175.76,149.83 350.00,-98.84 500.00,49.99 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: pink;"></path></svg></div>
		</section>

		<!--Migas de pan-->
		<section class="main container">
			<div class="row">
				<section class="posts col-md-12">
					<div class="miga-de-pan">
						<ol class="breadcrumb">
							<li class="active">Inicio</li>
						</ol>
					</div>

					<article class="post clearfix">
						<h2 class="post-title">
							<b><a href="#">Diseños de tu preferencia para tus uñas </a></b>
						</h2>
						<div class="container">
							<br>
							<div class="col-md-12" >
								<div id="carousel-1" class="carousel slide" data-ride="carousel">
									<!--Indicadores-->
									<ol class="carousel-indicators">
										<li data-target="#carousel-1" data-slide-to="0" class="active"></li>
										<li data-target="#carousel-1" data-slide-to="1"></li>
										<li data-target="#carousel-1" data-slide-to="2"></li>
										<li data-target="#carousel-1" data-slide-to="3"></li>
									</ol>
					
									<!--Contenedor de los slide-->
									<div class="carousel-inner" role="listbox">
										<div class="item active">
											<img src="imagenes/imagen1.jpg" width="100%" class="img-responsive">
											<div class="carousel-caption hidden-xs hidden-sm"> <!--hidden-xs y hidden-sm: Hace que desaparezcan las letras cuando la página está abierta en celulares y tablets-->
												<h2>ELEGANTES</h2>
												<p>Combinan con todo</p>
											</div>
										</div>
										<div class="item">
											<img src="imagenes/imagen16.jpg" width="100%" class="img-responsive">
											<div class="carousel-caption hidden-xs hidden-sm">
												<h2>TEMÁTICOS</h2>
												<p>Para tu estílo</p>
											</div>
										</div>
										<div class="item">
											<img src="imagenes/imagen3.jpg" width="100%" class="img-responsive">
											<div class="carousel-caption hidden-xs hidden-sm">
												<h2>ENCANTADORES</h2>
												<p>No querras dejar de verlos</p>
											</div>
										</div>
										<div class="item">
											<img src="imagenes/imagen2.jpg" width="100%" class="img-responsive">
											<div class="carousel-caption hidden-xs hidden-sm">
												<h2>SENCILLOS</h2>
												<p>Ideales para el día a día</p>
											</div>
										</div>
									</div>
									<!--Controles-->
									<a href="#carousel-1" class="left carousel-control" role="button" data-slide="prev">
										<span class="glyphicon glyphicon-chvron-left" aria-hidden="true"></span>
										<span class="sr-only">Anterior</span>	
									</a>
									<a href="#carousel-1" class="right carousel-control" role="button" data-slide="next">
										<span class="glyphicon glyphicon-chvron-left" aria-hidden="true"></span>
										<span class="sr-only">Siguiente</span>	
									</a>
								</div>
							</div>
						</div>
					</article>
					<section class="main container">
						<div class="row">
							<section class="posts col-md-9">
			
								<article class="post clearfix">
									<a href="#" class="thumb pull-left">
										<img src="imagenes/imagen17.jpg">
									</a>
									<h2 class="post-title">
										<a href="#">Los diseños de tu preferencia en nuestras manos</a>
									</h2>
									<p class="post-contenido text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation od consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
									cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. ex ea commod consequat. 
									Duis aute irure dolor in reprehenderit in voluptate velit esse
									cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. ex ea commod consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
									cillum dolore eu fugiat null
									</p>
									<div class="contenedor-botones">
										<a href="#" class="btn btn-primary">Leer Más..</a>
										<a href="#" class="btn btn-success">Comentarios <span class="badge">20</span></a>
									</div>
								</article>
			
								<article class="post clearfix">
									<a href="#" class="thumb pull-left">
										<img src="imagenes/imagen10.jpg">
									</a>
									<h2 class="post-title">
										<a href="#">Extensión de uñas</a>
									</h2>
									<p class="post-contenido text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex reprehenderit in voluptate velit esse
									cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
									<div class="contenedor-botones">
										<a href="#" class="btn btn-primary">Leer Más..</a>
										<a href="#" class="btn btn-success">Comentarios <span class="badge">20</span></a>
									</div>
								</article>
			
								<article class="post clearfix">
									<a href="#" class="thumb pull-left">
										<img src="imagenes/maquillaje4.jpg">
									</a>
									<h2 class="post-title">
										<a href="#">Maquillaje</a>
									</h2>
									<p class="post-contenido text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									garetywuiuptate velit esse
									cillum dolore eu fugiat nulla d est laborum. tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commod consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
									cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									<div class="contenedor-botones">
										<a href="#" class="btn btn-primary">Leer Más..</a>
										<a href="#" class="btn btn-success">Comentarios <span class="badge">20</span></a>
									</div>
								</article>
			
								<nav>
									<div class="center-block">
										<ul class="pagination">
											<li class="disabled"><a href="#">&laquo;<span class="sr-only">Anterior</span></a></li>
											<li class="active"><a href="#">1</a></li>
											<li><a href="#">1</a></li>
											<li><a href="#">2</a></li>
											<li><a href="#">3</a></li>
											<li><a href="#">&raquo; <span class="sr-only"></span>Siguiente</a></li>
										</ul>
									</div>
								</nav>
							</section>
							<aside class="col-md-3 hidden-xs hidden-sm">
								<h4>Servicios</h4>
								<div class="list-group">
									<a href="#" class="list-group-item active">Uñas</a>
									<a href="#" class="list-group-item">Pintado</a>
									<a href="#" class="list-group-item">Colocado de uñas postizas</a>
									<a href="#" class="list-group-item">Colocado de uñas acrílicas</a>
									<a href="#" class="list-group-item">Colocado de uñas en Gel</a>
									<a href="#" class="list-group-item">Manicura</a>
								</div>
								<h4>Servicios con Descuento ésta semana</h4>
								<a href="#" class="list-group-item">
									<h4 class="list-group-heading">Depilación Facial</h4>
									<p class="list-group-item-text">Ésta semana realizamos la depilación facial con el 50% de descuento!!!</p>
								</a>
								<a href="#" class="list-group-item">
									<h4 class="list-group-heading">Manicura</h4>
									<p class="list-group-item-text">Ésta semana realizamos la manicura al 2x1!!!</p>
								</a>
								<a href="#" class="list-group-item">
									<h4 class="list-group-heading">Colocado de uñas Acrílicas</h4>
									<p class="list-group-item-text">Aprovecha esta semana!!! Por el colocado de uñas acrílicas te regalamos un diseño con pedrería!!!</p>
								</a>
							</aside>
						</div>
					</section>

			</div>
		</section>


		<script src="js/jquery.js"></script>
		<script src="js/bootstrap.min.js"></script>  
	</body>

	<footer>
		<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
			<br><span>Síguenos</span><br>
			<a  href="https://www.facebook.com/taniasmanicuristas" target="_blank">
				<img  src="imagenes/iconos/fcb.png" class="img-circle" class="img-responsive" class="img-thumbnail" width="2.5%">
			</a>
			<h4>&copy Nadina Blanco Savtchenkova - NBS</h4>
		</nav>
	</footer>
	
</html>